* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    list-style: none;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
    color: cornflowerblue;
}

span {
    color: #666666;
}

.login-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transform: scale(1.2);
    filter: blur(3px);
    background: url('/sources/imgs/logBackground.jpg');
    background-size: cover;
    z-index: 0;
}

.log-flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-form-container {
    margin: auto;
    width: 450px;
    height: 400px;
    padding: 50px;
    background: rgba(238, 238, 238,0.9);
    z-index: 1;
}

.err-message {
    width: 100%;
    height: 30px;
    position: fixed;
    top: -50px;
    background: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    text-align: center;
    animation: message-drop-down 5s;
}

.logup-form-container {
    margin: auto;
    width: 600px;
    height: 550px;
    padding: 50px;
    background: rgba(238, 238, 238,0.9);
    overflow: initial;
    z-index: 1;
}

.logup-form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome {
    text-align: center;
    color: #444;
}

.log-inf {
    height: 50px;
    width: 250px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: initial;
}

.log-inf input {
    height: 25px;
    width: 250px;
    padding: 2.5px;
    border: none;
    border-bottom: 2px solid cornflowerblue;
    background: transparent;
}

.log-inf input:focus {
    outline: none;
}

.log-button {
    display: block;
    margin: 15px auto;
    background: #3a9b22;
    color: #FFFFFF;
    font-size: 1.2em;
    height: 35px;
    width: 260px;
    border: none;
    border-radius: 5px;
}

.outer-message {
    width: 280px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
}

.outer-message button {
    background: transparent;
    display: inline-block;
    width: max-content;
    font-size: 1em;
    color: rgb(100, 149, 237);
    border: none;
    margin: auto;
}

.recovery-message {
    text-align: center;
    font-size: 0.9em;
    width: 320px;
    height: 100px;
}

.message {
    width: 400px;
    text-align: center;
}

header {
    height: 250px;
    width: 100vw;
}

.header-background {
    height: 300px;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-image: url('/sources/imgs/logBackground.jpg');
    background-size: cover;
    filter: blur(3px);
    transform: scale(1.1);
    z-index: -1;
}

.filter {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
}

.fixed-nav-background {
    background-color: rgb(54, 54, 54);
}

.nav-list ul {
    float: right;
    width: 670px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    overflow: initial;
}

.nav-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: initial;
}

.nav-option a {
    color: #FFFFFF;
}

#phone_search {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
}

#phone_search:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.9);
}

#user_log {
    position: relative;
    top: -10px;
    height: 50px;
}

.user-log {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: cornflowerblue;
    border-radius: 50%;
    color: #FFFFFF;
}

#user_box {
    position: fixed;
    top: 0;
    right: 0;
    height: 320px;
    width: 320px;
    background: white;
    box-shadow: -3px 3px 5px rgba(0, 0, 0,0.5);
    animation: user-box-appear 0.6s;
    display: none;
    overflow: hidden;
}

#user_box_close {
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px;
    height: 28px;
    padding: 2px;
    color: #FFFFFF;
    background-color: transparent;
    background-image: url('/sources/imgs/error.png');
    background-size: 28px;
    font-size: 1em;
}

.user-box-visible {
    display: flex !important;
}

#user_inf {
    width: 320px;
    height: 320px;
    margin: auto;
}

#user_inf ul {
    width: 320px;
    height: 320px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex-direction: column;
}

.user-option {
    width: 300px;
    height: 30px;
    padding: 10px;
    text-align: center;
}

.user-option a {
    color: #888888;
}

.log-out {
    padding: 0;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
}

.log-out a {
    display: block;
    padding-top: 15px;
    border: none;
    width: 100%;
    height: 35px;
    background: rgb(230, 230, 230);
    color: rgb(200, 200, 200);
    font-size: 1.1em;
}

.user_name {
    color: #FFFFFF;
    font-size: 1.3em;
    background: cornflowerblue;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan {
    width: 100vw;
    margin-top: 60px;
    margin-left: 40px;
    color: #FFFFFF;
}

.content {
    z-index: 1;
    background: #FFFFFF;
    width: 100vw;
    min-height: 1000px;
    display: flex;
    justify-content: flex-end;
}

#orderBy {
    background: #EEEEEE;
    position: absolute;
    left: 0;
    width: 300px;
    height: 95vh;
    padding: 10px;
}

.fixed-orderBy {
    position: fixed !important;
    top: 60px;
}

#homeContent {
    max-width: 1550px;
    background: #FFFFFF;
    padding: 20px;
    padding-left: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.phone-card {
    width: 320px;
    height: 400px;
    background: #EEEEEE;
    margin: 20px;
}

.side-option-bar {
    width: 320px;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background: #EEE;
}

#interactive_content {
    position: absolute;
    top: 0;
    left: 320px;
    width: 600px;
    height: 100vh;
    background: #FFFFFF;
}

@keyframes message-drop-down {
    0% {
        top: -50px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: -50px;
    }
}

@keyframes user-box-appear {
    0% {
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50% 0% 50% 50%;
    }
    25% {
        top: 0;
        right: 0;
        border-radius: 30% 0% 30% 50%;
    }
    100% {
        width: 320px;
        height: 320px;
        border-radius: 0%;
    }
}