<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Phone!</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <div class="header-background"></div>
        <div class="filter">
            <nav id="navbar" class="navbar">
                <div class="nav-list">
                    <ul>
                        <div id="search-box" class="nav-option">
                            <li><input type="search" name="phone_search" id="phone_search" placeholder="Search..."></li>
                        </div>
                        <div class="nav-option">
                            <li><a href="/">Home</a></li>
                        </div>
                        <div class="nav-option">
                            <li><a href="/history">Pursached</a></li>
                        </div>
                        <% if (user) {%>
                            <div class="nav-option" id="user_log">
                                <div class="user-log" id="user_loged">
                                    <%= user.first_name.substr(0,1)+user.last_name.substr(0,1) %>
                                </div>
                            </div>
                            <div id="user_box">
                                <div id="user_inf">
                                    <ul>
                                        <div class="user-option user_name">
                                            <button id="user_box_close"></button>
                                            <li><%= user.first_name + ' ' + user.last_name %></li>
                                        </div>
                                        <div class="user-option">
                                            <li>
                                                <a href="/userInf">Profile</a>
                                            </li>
                                        </div>
                                        <div class="user-option">
                                            <li>
                                                <a href="/userInf/shoppingCar">Shopping Car</a>
                                            </li>
                                        </div>
                                        <div class="user-option">
                                            <li>
                                                <a href="/userInf/receipts">Receipts</a>
                                            </li>
                                        </div>
                                        <div class="user-option log-out">
                                            <a href="/logOut" id="user_log_out">Log Out</a href="/logOut">
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        <%} else {%>
                            <div class="nav-option">
                                <li><a href="/logIn">Sing In!</a></li>
                            </div>
                            <div class="nav-option">
                                <li><a href="/logUp">Sing Up!</a></li>
                            </div>
                        <%}%>
                    </ul>
                </div>
            </nav>
            <div class="slogan">
                <h1>You Want a Phone? We Got It!</h1>
            </div>
        </div>
    </header>
    <section class="content">
        <div id="orderBy">
            <ul>
                <div>
                    <li>
                        <label for="">Order By Trademark</label>
                        <div>
                            <button>Ascendent</button>
                        </div>
                        <div>
                            <button>Descendent</button>
                        </div>
                    </li>
                </div>
                <div>
                    <li>
                        <label for="">Order By Model</label>
                        <div>
                            <button>Ascendent</button>
                        </div>
                        <div>
                            <button>Descendent</button>
                        </div>
                    </li>
                </div>
                <div>
                    <li>
                        <label for="">Order By Price</label>
                        <div>
                            <button>Ascendent</button>
                        </div>
                        <div>
                            <button>Descendent</button>
                        </div>
                    </li>
                </div>
                <div>
                    <li>
                        <label for="">Order By Year</label>
                        <div>
                            <button>Ascendent</button>
                        </div>
                        <div>
                            <button>Descendent</button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div id="homeContent">
            <div id="1" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="2" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="3" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="4" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="5" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="6" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="7" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="8" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="9" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="10" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
            <div id="11" class="phone-card">
                <img src="/sources/imgs/background1.jpg" height="300px" width="300px" alt="telf">
            </div>
        </div>
    </section>
    <script src="/scripts/libs/jquery-3.1.1.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>