<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="login-background">
    </div>
    <div class="log-flex-container">
        <div class="login-form-container">
            <div class="welcome">
                <h1>LOG IN AND BE WELCOME!</h1>
            </div>
            <div class="form">
                <form action="LogIn" method="POST">
                    <div class="log-inf">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="log-inf">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <button class="log-button">Log In!</button>
                </form>
                <div class="log-inf">
                    <span>You don't have account?<a href="/logUp"> Log Up Here! </a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>